#panel {
  border: 1px solid gray;
  background-color: #161b22;
  border-radius: 5px;
  width: fit-content;
}

#container {
  margin: auto;
  margin-top: 0;
  padding: 10px;
  padding-top: 0;
}

#container * {
  color: white;
}

.icon {
  display: inline-block;
  height: 1em;
  width: auto;
  transform: translate(0, 0.1em);
}

h2 {
  line-height: 20px;
}

#twitter {
  text-decoration: none;
}

#twitter:link, #twitter:visited, #twitter:hover, #twitter:active{
  color: white;
}

#website:link {
  color: #0000EE;
}

#website:visited {
  color: #551a8b
}
